@charset "UTF-8";

#info {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 150px;
    height: 650px;
    border: grey solid 2px;
    font-size: 24px;
}

#canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    width: 650px;
    height: 550px;
    border: #f89426 solid 5px;
}

.gamecell, .gamecell div {
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    width: 50px;
    height: 50px;
}